* {
  background-color: #039BE5;
}

.top {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  overflow-y: auto;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

h1 {
  font-family: 'Work Sans', Garamond, Times, serif;
  font-weight: bold;
  color: #F1C40F;
  background-color: #0288D1;
  font-size: 48px;
  padding: 10px 30px;
  margin: 30px auto;
}

h2 {
  font-size: 22px;
  text-align: center;
  color: white;
  background-color: inherit;
  font-family: 'Work Sans', Garamond, Times, serif;
  padding-right: 30px;
  padding-top: 10px;
  margin: 30px auto;
  border-style: solid;
  border-width: 1px;
  border-color: white;

}

#Login{
  float: right;

}
