* {
  background-color: #0069A2;
  box-sizing: border-box;
  overflow: auto;
  margin: 0;
  padding: 0;
}
.main {
  background-color: #CCD1D1;
  width: 80%;
  height: 100%;
  position: relative;
  margin: auto;

  font-size: 28px;
}

h1 {
  background-color: #154360;
  padding: 1em 2em;

  color: #FEB100;
  text-align: center;
  font-family: 'Crimson Text', Garamond, Times serif;

  border-style: solid;
  border-width: 8px;
  border-color: #CCD1D1;
  height: 5%

}


ul {
  color: #CCD1D1;
  border-width: 8px;
  border-style: solid;
  border-color: #CCD1D1;
  border-top-width: 0px;
  height: 5%
}

.navtab {
  line-height: 1.5em;
  float: left;
  background-color: #154360;

  font-size: 22px;
  font-family: 'Work Sans', Garamond, Times, serif;

  width: 20%;
  height: 3em;

  margin: auto;

  text-align: center;
  vertical-align: middle;
}

a {
  color: #CCD1D1;
}

.mid_navtab, .end_left_navtab {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #CCD1D1;
}

.mainbody {
  background-color: #CCD1D1;
  margin: auto;

  width: 80%;
  height: 100%;
}

p {
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 1em;
  padding-right: 1em;
}

h2 {
  padding-top: 1em;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.last_li {
  padding-bottom: 1em;
}

.asterisk {
  font-size: 14;

}

h2, ol, p, .tutees_li{
  color: black;
  background-color: #CCD1D1;

  font-size: 18px;
  font-family: 'Work Sans', Garamond, Times, serif;
}
